body.ruminetheme_1.orange {
    --colors-stone-50: 242 242 242;
    --colors-stone-100: 213 212 212;
    --colors-stone-200: 135 134 133;
    --colors-stone-300: 115 114 113;
    --colors-stone-400: 96 95 94;
    --colors-stone-500: 86 85 84;
    --colors-stone-600: 66 65 65;
    --colors-stone-700: 56 56 55;
    --colors-stone-800: 46 46 45;
    --colors-stone-900: 26 26 26;
    --colors-cave-10: 253 248 244;
    --colors-cave-20: 251 237 227;
    --colors-cave-30: 248 226 210;
    --colors-cave-40: 245 215 193;
    --colors-cave-50: 250 236 226;
    --colors-cave-100: 240 193 159;
    --colors-cave-200: 226 138 74;
    --colors-cave-300: 221 116 40;
    --colors-cave-400: 208 107 33;
    --colors-cave-500: 191 98 30;
    --colors-cave-600: 175 89 28;
    --colors-cave-700: 158 81 25;
    --colors-cave-800: 141 72 22;
    --colors-cave-900: 107 55 17;

    &::before {
        background: url("https://ru-minecraft.ru/templates/ru-minecraft/images/fondaynew.png") top center repeat,
            #22333a;
    }

    textarea,
    input,
    select {
        @apply border-stone-400 dark:bg-stone-900 dark:text-cave-10 dark:!border-stone-300;
    }

    .conteiner3 .content #dle-content #bullet_energy .contentBoxTopicList.treeBox .tree {
        @apply bg-cave-200/20;
    }

    .conteiner3 .content #dle-content #bullet_energy .treeTitl.infoBox h3 {
        @apply text-stone-900/90 dark:text-white/90;
    }

    .conteiner3 .content #dle-content #bullet_energy .top_box .forum_speedbar ul li .arrow::before,
    .conteiner3 .content #dle-content #bullet_energy .treeTitl.infoBox .treeDesc {
        @apply text-stone-800/90 dark:text-cave-30/90;
    }

    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        #forum-topicMsgShtuff
        div[id^="MsgTextBox"]
        div[class^="likeBox-"]
        > div {
        @apply to-cave-100/20;
    }

    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        .forum-topicMsgDate
        a,
    .conteiner3 .content #dle-content #bullet_energy .forum-topicMsg a,
    .conteiner3 .content #dle-content #bullet_energy .forum_speedbar li .arrow::before,
    .conteiner3 .content #dle-content #bullet_energy .forum_speedbar li a,
    .conteiner3 .content #dle-content #bullet_energy a .forum-topicMsgCont .forum-topicMsg .forum-topicMsgDate a {
        @apply text-cave-300 dark:!text-cave-100;
    }

    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        ol.bbcode_forum
        li,
    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        ol.bbcode_forum_text
        li,
    .conteiner3 .content #dle-content #bullet_energy a .forum-topicMsgCont .forum-topicMsg ol.bbcode_forum li,
    .conteiner3 .content #dle-content #bullet_energy a .forum-topicMsgCont .forum-topicMsg ol.bbcode_forum_text li {
        @apply dark:!bg-cave-100/10;
    }

    .ui-dialog.ui-widget.ui-widget-content {
        @apply dark:!bg-stone-900/80;
    }

    #dle-content #bullet_energy .bbcode_bullet {
        @apply dark:!bg-cave-100/5;
    }

    .conteiner3 .content #dle-content #bullet_energy .contentBoxTopicMessageList .forum-topicMsgCont .forum-topicMsg {
        @apply dark:!bg-neutral-800;
    }

    .signature {
        &::before {
            @apply dark:!to-neutral-800;
        }
    }

    .conteiner3 .content #dle-content #bullet_energy .blockRight.userOnlines .innerts .userClin p,
    .statForum,
    .forumBoxLastInfo table tr td p,
    .forumBoxLastInfo table tr td.topicLastPost p strong {
        @apply !text-stone-800 dark:!text-cave-100/80;
    }

    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        #forum-topicMsgShtuff
        div[id^="MsgTextBox"]
        .EditMsgView {
        @apply bg-stone-50/50 text-stone-800/80 dark:bg-stone-700/50 dark:!text-cave-50/80;
    }

    #script-config-screen .rumc-screen {
        @apply bg-stone-900/90;
        .title__controls {
            a {
                @apply bg-cave-200/50;
                &:hover {
                    @apply bg-cave-200/60;
                }
            }
        }
        .screen__section .screen__options .screen__option {
            @apply bg-stone-200/10;
            button {
                @apply bg-stone-200/10;
                &:hover {
                    @apply bg-stone-200/20;
                }
                &.active {
                    @apply bg-cave-200/50;
                    &:hover {
                        @apply bg-cave-200/60;
                    }
                }
            }
        }
    }

    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        #forum-topicMsgShtuff
        div[id^="MsgTextBox"] {
        .quote {
            @apply !bg-cave-200/10 !text-stone-800/80 dark:!bg-cave-100/10 dark:!text-cave-50/90;
        }
        .title_quote {
            @apply !bg-cave-200/20 !text-stone-800 dark:!bg-cave-100/20 dark:!text-white;
        }
    }

    .conteiner3 .content #dle-content #bullet_energy .signature {
        @apply dark:border-t-stone-600;
    }

    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        .forum-topicMsgDate
        p:nth-child(2)
        a.likeContent,
    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        .forum-topicMsgCont
        .forum-topicMsg
        .forum-topicMsgDate
        p:nth-child(2)
        a[onclick^="fast_insert"] {
        @apply bg-cave-50 dark:!bg-cave-100/10;
    }

    .top-background {
        @apply filter sepia-[0.5] brightness-[0.8];
    }

    .conteiner3 .content #dle-content #bullet_energy .navigate_forum .main_menu {
        @apply bg-stone-800;
        li a {
            &:hover {
                @apply bg-stone-900/50;
            }
        }
    }

    .conteiner3 .content #dle-content #bullet_energy .contentBoxTopicList:not(.treeBox) {
        @apply bg-cave-200/20 dark:bg-cave-100/10;
        .listTopicBlock .topicList {
            @apply dark:!bg-cave-100/10;
        }
        dl {
            @apply text-cave-800 !bg-transparent dark:text-white/90;
        }
    }

    .conteiner3 .content #dle-content #bullet_energy .forum-topicMsgStat p span,
    .conteiner3 .content #dle-content #bullet_energy a {
        @apply text-cave-200 dark:text-cave-100;
        &:hover {
            @apply text-cave-200/50 dark:text-cave-20;
        }
    }

    .conteiner3 .content #dle-content #bullet_energy #desTtee {
        @apply dark:text-cave-30/50;
    }

    .conteiner3 .content #dle-content #bullet_energy .paginator .pagination_forum li a {
        @apply bg-stone-100/50 dark:bg-cave-50/10;
        .active {
            @apply dark:bg-cave-100/20;
        }
    }

    .conteiner3 {
        @apply bg-neutral-50 dark:bg-stone-900;
    }

    .conteiner3 .content #dle-content #bullet_energy .contentBoxTopicList {
        .headerBox.boxList {
            @apply dark:!bg-transparent;
        }
        .listTopicBlock .topicList {
            .treeIcon {
                @apply bg-cave-300/40 dark:!bg-cave-100/20;
            }
            .replyLast {
                @apply bg-cave-300/40 dark:!bg-cave-100/20;
            }
        }
        &.treeBox .tree ol li.treeItem .boxTreeItem {
            @apply dark:bg-cave-100/10;
            .replyLast {
                @apply dark:!bg-cave-100/20;
            }
            .treeIcon {
                @apply dark:!bg-cave-100/20;
            }
        }
    }

    .forumBoxLastInfo {
        @apply bg-cave-200/20 dark:bg-cave-100/5;
        h3 {
            @apply !text-stone-800 dark:!text-cave-40;
        }

        table,
        th,
        td {
            @apply bg-neutral-50 dark:!bg-cave-100/5 dark:!text-cave-10;
        }
    }

    .conteiner3 .content #dle-content #bullet_energy #message_add_form .BoxButtom #file_upload_button,
    .conteiner3 .content #dle-content #bullet_energy #message_add_form .BoxButtom .b01,
    .conteiner3 .content #dle-content #bullet_energy #message_edit_form .BoxButtom #file_upload_button,
    .conteiner3 .content #dle-content #bullet_energy #message_edit_form .BoxButtom .b01 {
        @apply bg-cave-200;
    }

    .conteiner3
        .content
        #dle-content
        #bullet_energy
        .contentBoxTopicMessageList
        a:not(.forum-topicMsgPict .popup_profile),
    .blockRight.userOnlines .innerts .userClin ul a {
        @apply text-cave-300 dark:text-cave-100;
        &:hover {
            @apply bg-cave-300/10 ring-cave-300/10 dark:bg-cave-100/10 dark:ring-cave-100/10;
        }
    }

    .conteiner3 .content .news2 {
        @apply dark:bg-neutral-800;
        .box__title a {
            @apply dark:!bg-cave-100/30;
        }
    }

    .conteiner3 .content #dle-content #bullet_energy .contentBoxTopicList.treeBox .tree {
        @apply dark:bg-cave-100/5;
    }

    .conteiner3 .content #dle-content form#userinfo > .news2 .userrepa,
    .conteiner3 .content #dle-content > .news2 .userrepa {
        @apply bg-stone-50/50 dark:bg-cave-100/5;
        .userrepa3 {
            @apply bg-stone-100/50 dark:bg-cave-100/5;
        }
    }

    .conteiner3 .content #dle-content #bullet_energy .treeNameList {
        @apply dark:text-white/90;
    }

    .conteiner3 .content #dle-content form#userinfo > .news2 .usersdop,
    .conteiner3 .content #dle-content > .news2 .usersdop {
        @apply bg-stone-50/50 dark:bg-cave-100/5;
    }

    .conteiner3 .sidebar .menu-new {
        @apply bg-stone-800;
    }

    .topmenu-wrapper {
        @apply bg-stone-900/90;
    }

    .conteiner3 .content #dle-content #bullet_energy .top_box {
        @apply bg-cave-200/20 dark:bg-cave-100/20;
    }

    .conteiner3 .content #dle-content #bullet_energy .blockRight.userOnlines {
        @apply !bg-cave-200/20 dark:!bg-cave-100/5;
        h3 {
            @apply !bg-cave-20 !text-stone-800 dark:!bg-cave-100/10  dark:!text-cave-40;
        }
    }
}
