@mixin fixColors {
    & {
        @apply dark:sepia-[0.4] dark:brightness-[120%] dark:saturate-[400%];
        *[style^="color:Black"] {
            @apply dark:!text-stone-500;
        }
    }
}

body.ruminetheme_1.orange {
    textarea,
    input,
    select {
        @apply dark:bg-stone-900 dark:text-white dark:!border-stone-400;
    }
    .ui-dialog.ui-widget {
        &.ui-widget-content {
            @apply dark:!bg-stone-900/80 dark:!shadow-none;
        }
        tr {
            td {
                @apply dark:text-white;
                a {
                    @apply dark:text-rumc-100;
                }
            }
            &:nth-child(2) {
                > td {
                    &:nth-child(2) {
                        b {
                            @include fixColors();
                        }
                        img {
                            @apply inline;
                        }
                    }
                }
            }
        }
        .ui-widget-header {
            @apply dark:!bg-rumc-500/80;
        }
        .ui-dialog-buttonpane {
            .ui-dialog-buttonset {
                button {
                    @apply dark:!bg-rumc-500/80;
                    &:hover {
                        @apply dark:!bg-rumc-500/90;
                    }
                }
            }
        }
    }

    .conteiner3 {
        @apply dark:bg-stone-900;
        .content {
            .news2,
            form#userinfo > .news2 {
                @apply dark:bg-stone-800 dark:text-gray-50 dark:!shadow-none;
                .info23 {
                    @apply border-none dark:!bg-rumc-600;
                }
                .userrepa3 {
                    @apply dark:!bg-stone-400/30;
                }
                .statsknopka {
                    @apply dark:!bg-rumc-400 dark:!border-rumc-400;
                }
                .userrepa,
                .usersdop {
                    @apply dark:!bg-stone-400/10;
                }
            }
        }
        .content #dle-content #bullet_energy {
            @apply dark:text-white/80;

            #counterMessages {
                @apply dark:bg-stone-200/10;
            }

            .uploadify-queue-item {
                @apply dark:bg-rumc-50/20;
            }

            a {
                @apply dark:text-rumc-100;
                &:hover {
                    @apply dark:text-rumc-200;
                }
            }

            .blockRight.userOnlines {
                @apply dark:bg-rumc-100/10;
                a:not(.forum-topicMsgPict .popup_profile) {
                    @apply dark:text-rumc-100;
                    &:hover {
                        @apply dark:bg-rumc-200/20 dark:ring-rumc-200/20;
                    }
                }
                .innerts {
                    .userClin {
                        p {
                            @apply dark:font-medium dark:!text-white;
                        }
                        ul a {
                            @include fixColors();
                        }
                    }
                    .statForum {
                        @apply dark:!text-white;
                    }
                }
                h3 {
                    @apply dark:!bg-rumc-100/10 dark:!text-white/90;
                }
            }

            .forum-GroupList {
                @include fixColors();
            }

            a,
            .contentBoxTopicMessageList {
                a:not(.forum-topicMsgPict .popup_profile) {
                    @apply text-rumc-100;
                    &:hover {
                        @apply bg-rumc-200/20 ring-rumc-200/20;
                    }
                }
                .forum-topicMsgCont .forum-topicMsg {
                    div[class^="likeBox-"] {
                        > div {
                            @apply dark:!to-rumc-50/10;
                        }
                    }

                    #forum-topicMsgShtuff div[id^="MsgTextBox"] {
                        .EditMsgView {
                            @apply dark:!text-neutral-50/80;
                        }
                        .title_quote {
                            @apply dark:!bg-rumc-100/20 dark:!text-white/90;
                        }
                        .quote {
                            @apply dark:!bg-rumc-100/10 dark:!text-white/80;
                        }
                    }

                    .forum-topicMsgDate {
                        a {
                            @apply dark:!text-rumc-100;
                            &:hover {
                                @apply dark:!text-rumc-200;
                            }
                        }

                        p:nth-child(2) {
                            a {
                                &.likeContent,
                                &[onclick^="fast_insert"] {
                                    @apply dark:bg-rumc-100/10 dark:text-rumc-100;
                                }
                            }
                        }
                    }

                    .bbcode_bullet {
                        @apply dark:!bg-transparent;
                    }

                    ol.bbcode_forum li,
                    ol.bbcode_forum_text li {
                        @apply dark:!bg-rumc-100/20;
                        span {
                            @apply dark:invert-[0.75];
                        }
                    }
                }
            }

            .top_box {
                @apply dark:!bg-rumc-200/5;
            }

            .forum_speedbar {
                li {
                    a,
                    .arrow::before {
                        @apply dark:!text-rumc-50;
                    }
                }
            }

            .paginator .pagination_forum li.active {
                @apply dark:bg-rumc-100 dark:text-stone-800;
            }

            .forum-topicMsgStat {
                p {
                    span {
                        @apply dark:text-rumc-200;
                    }
                    &:nth-child(2) {
                        @include fixColors;
                    }
                }
            }

            .signature {
                @apply dark:border-t-neutral-700;
            }

            .treeNameList {
                @apply dark:text-stone-50/90;
            }
            #desTtee {
                @apply dark:text-stone-200/70;
            }

            .forum-topicMsg {
                @apply dark:!bg-neutral-800 dark:!shadow-none dark:!text-white/95;
                a {
                    @apply dark:!text-rumc-100;
                }
            }
        }
    }

    .conteiner3 .content #dle-content #bullet_energy .contentBoxTopicList {
        a {
            @apply dark:text-rumc-50;
        }
        &:not(.treeBox) {
            @apply dark:bg-rumc-100/10;
        }
        .headerBox.boxList {
            @apply dark:!bg-stone-900/50;
        }
        &.treeBox {
            .tree {
                @apply dark:bg-stone-200/10;
                .treeTitl {
                    h3 {
                        @apply dark:text-white;
                    }
                    .treeDesc {
                        @apply dark:text-white/50;
                    }
                }
                ol {
                    li {
                        &.treeItem {
                            .countBox dt {
                                @apply dark:text-rumc-50;
                            }
                            .countBox dd {
                                @apply dark:text-white;
                            }
                            .boxTreeItem {
                                @apply dark:bg-stone-900/50;
                            }
                        }
                    }
                }
            }
        }
        .listTopicBlock {
            .topicList {
                @apply dark:border-b-transparent dark:bg-stone-900/50;
                .topicPublicInfo {
                    @apply dark:text-white;
                }
                .boxTopic.statistic {
                    @apply dark:!bg-transparent;
                    p {
                        @apply dark:text-rumc-50 dark:!border-none;
                    }
                    strong {
                        @apply dark:text-white;
                    }
                }
            }
        }
        .treeIcon {
            @apply dark:bg-blend-overlay dark:!bg-stone-400/50 dark:!shadow-none;
        }
        .replyLast {
            @apply dark:!border-none dark:!bg-stone-700/50;
        }
    }

    .conteiner3 .content {
        .forumBoxLastInfo {
            @apply dark:!bg-rumc-100/10;
            a {
                @apply dark:text-white;
            }
            h3 {
                text-shadow: none;
                @apply dark:!text-white/90;
            }
            table {
                th {
                    @apply dark:bg-stone-900/50;
                }
                tr {
                    td {
                        @apply dark:bg-stone-900/50;
                        p,
                        &.topicLastPost p strong {
                            @apply dark:!text-rumc-100;
                        }
                    }
                }
            }
            p,
            td,
            th {
                @apply dark:!text-rumc-50;
            }
        }
    }
}

body.orange.hideSignatures .signature {
    &::before {
        @apply dark:from-transparent dark:!to-neutral-800;
    }
}
